[Unit]
Description=Montage Samba {{ partage.key }}
Wants=network-online.target
After=network-online.target nss-lookup.target
Requires=network-online.target

[Mount]
What=//{{ nas_ip }}/{{ partage.key }}
Where={{ target_mount_path }}
Type=cifs
Options=credentials={{ credentials_path | default('/etc/nascredentials') }},_netdev,nofail,uid=1000,gid=1000,file_mode=0664,dir_mode=0775,iocharset=utf8,vers=3.0
TimeoutSec=30

[Install]
WantedBy=multi-user.target